.bg-dark {
  --bs-dark-rgb: 0, 0, 0 !important;
}
.bg-info {
  --bs-bg-opacity: 0.5 !important;
  --bs-info-rgb: 150, 191, 213 !important;
}
.table {
  --bs-body-bg: #000000;
  --bs-emphasis-color: wheat;
  border-color: wheat;
}
body {
  background-color: #000000e3;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif !important;
}
.btn-primary {
  --bs-btn-color: wheat;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: wheat;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: wheat;
  --bs-btn-active-bg: wheat;
}
.table-border {
  --bs-border-color: wheat;
}
div.dt-container .dt-input {
  background-color: black !important;
}
.dt-search {
  display: flex;
  justify-content: end;
}
.btn-outline-success {
  --bs-btn-color: wheat;
  --bs-btn-border-color: rgb(0, 0, 0);
  --bs-btn-hover-color: rgba(245, 222, 179, 0.73);
  --bs-btn-hover-bg: wheat;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: wheat;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-outline-danger {
  --bs-btn-color: wheat;
  --bs-btn-border-color: rgb(0, 0, 0);
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: wheat;
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: wheat;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: none;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
div#User_Table_info {
  display: none;
}
p a {
  color: rgb(0, 200, 255);
}
.dataTables_length {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
  max-width: 400px;
  z-index: 20;
  margin: 10px 0px -32px;
}
.dt-search {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin: -10px 0px 10px;
}
.modal {
  --bs-modal-bg: #000;
}
.modal-header {
  border: none;
}
#toast-container {
  color: wheat !important;
}
.toast-error {
  margin: 4px;
  color: rgb(255, 255, 255) !important;
  box-shadow: none !important;
  border-radius: 24px !important;
}
.toast-success {
  margin: 4px;
  color: rgb(255, 255, 255) !important;
  box-shadow: none !important;
  border-radius: 24px !important;
  background-color: rgb(26, 146, 74, 1) !important;
}
/* .form-select {
background: url('../../img/down-gold-rrow.jpg') !important;
  
} */
.form-control,
.form-select {
  background-color: #000 !important;
  color: wheat !important;
  border: 1px solid wheat !important;
}
.form-select .form-select-sm {
  color: wheat !important;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
div#User_Table_paginate {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
div#User_Table_filter {
  margin-right: 16px;
}
.page-link{
  background-color: transparent !important;
  color: wheat !important;
  border: transparent !important;
  border-radius: 24px;
}
.page-link:hover{
  background-color: wheat !important;
  color: black !important;
  border: wheat !important;
}
.pagination:active{
  border: wheat !important;
}
.pagination:focus{
  border: wheat !important;
}
.page-link:focus{
  background-color: wheat !important;
  color: black !important;
  border: 1px wheat !important;
}
.text-info {
  color: wheat !important;
}
.text-info:hover {
  color: rgb(0, 0, 0) !important;
}
.dataTables_processing:hover{
  background-color: wheat !important;
  color: #000 !important;
}
.card:hover{
  background-color: wheat !important;
  color: #000 !important;
}
.modal-footer.d-flex.flex-row.justify-content-center {
  border-top: none;
}
.btn-close{
  color:wheat!important;
}
.frdmdl-btn{
color: wheat;
}
/* .frdmdl-btn:hover{
  color:rgb(0, 0, 0)!important;
} */
/* button.close {
  background-color: black;
  color: wheat;
  font-size: 30px;
  border: 1px solid wheat;
  border-radius: 8px;
  padding: -2px 4px -2px 10px;
} */
.frd-btn{
  color: wheat !important;
  border: 1px solid wheat;
  border-radius: 8px;
  /* padding: 2px 4px 2px 10px; */
}
.frd-btn:hover{
  color: rgb(0, 0, 0) !important;
  border: 1px solid wheat;
  background-color: wheat !important;
  border-radius: 8px;
  /* padding: 2px 4px 2px 10px; */
}
/* style.css */
/* .container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
} */

.otp-input {
	width: 30px;
  height: 30px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.5);
	margin: 0 10px;
	text-align: center;
	font-size: 18px;
	cursor: not-allowed;
	pointer-events: none;
  background-color: #000000;
  color: wheat;
  border: 1px solid wheat;
  border-radius: 8px;
}

.input:focus {
	border-bottom: 3px solid orange;
	outline: none;
}

.otp-input:nth-child(1) {
	cursor: pointer;
	pointer-events: all;
}
