<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>register</title>

        <!-- bootstrep css link -->
        <link rel="stylesheet" href="/plugins/bootstrep5/bootstrep.min.css">

         <!----toastr css link-->
         <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">

        <!-- custom css link -->
        <link href="/stylesheet/style.css" rel="stylesheet">
    </head>

    <body class>
        <div class="container">
            <div class="hero d-flex bg-info w-100 justify-content-center position-reletive">
                <form name="registrerForm" id="registerForm" class="row g-3 ">
                    <div class="shadow-lg d-flex flex-wrap flex-column justify-content-center w-25 position-absolute top-50 start-50 translate-middle p-5 rounded-5 bg-dark">
                        <h1 class=" text-center text-opacity-50 pb-3 fs-2 px-5">Register</h1>
                        <div class="col-md-12">
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label fs-5">First Name</label>
                                    <input type="text" name="fname" class="form-control" aria-label="First name">
                                </div>
                                <div class="col-12">
                                    <label class="form-label fs-5">Last Name</label>
                                    <input type="text" name="lname" class="form-control mb-3" aria-label="Last name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputEmail4" class="form-label fs-5">Email</label>
                            <input type="email" name="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-12">
                            <div class="py-3">
                                <label for="inputPassword4" class="form-label fs-5">Password</label>
                                <input type="password" name="password" class="form-control" id="inputPassword4">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" id="registerBtn" class="btn btn-primary mt-3">Submit</button>
                        </div>
                        <div class="col-md-12">
                            <p class="pt-4 text-center">Already have an account? <a href="/login" class="text-decoration-none">Login</a></p>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- ----------jquery-cdn-js-link-------- -->
        <script src="/plugins/jequery/jquery.min.js"></script>
        <script src="/plugins/jequery/jquery.validate.min.js"></script>

        <!-- ---------- bootstrep-cdn-js-link-------- -->
        <script src="/plugins/bootstrep5/bootstrap.bundle.min.js"></script>

        <!----toastr cdn js link-->
        <script src="/plugins/toastr/toastr.min.js"></script>

        <!-- ---------------custom-javascript---------------------->
        <script src="/javascript/custom.js"></script>
    </body>

</html>